<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Favicon-->
    <title>BestiBot</title>
    <link rel="shortcut icon" href="../static/img/favicon.png">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300|Work+Sans:700,800" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/src/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/src\font-awesome\css\font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendor/swiper/swiper-bundle.min.css">


    <!-- Main CSS-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/src/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <!-- Navigation Bar-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header"style="margin-bottom: 10px">
            <!-- <a class="navbar-brand" href="index.html"><img src="static/img/logo_1.png" width="50" height="50"></a>-->
            <a class="navbar-text" href="/">BestiBot</a>
          </div>
    
          <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right" >
            <ul class="nav navbar-nav" style="margin-top: 5px;">
              <li><a href="#home">Home</a></li>
              <li><a href="#bestibot">BestiBot</a></li>
              <li><a href="#services">Fitur</a></li>
              <li><a href="#artikel">Artikel</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="/chatroom" target="_blank" class="btn btn-primary btn-nav">Curhat Yuk!</a></li>
            </ul>
          </div>
        </div>
    </nav>
      <!-- End Navigation Bar -->

      <!-- Home-->
      <div id = "home" class="jumbotron l-section-full-height header">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h1>Hi, I'm BestiBot!</h1>
                <p>Teman barumu yang siap mendengarkan ocehan dan curhatanmu</p>
              </div>
              <div class="col-md-4 col-md-offset-1 hidden-sm hidden-xs landing">
                <img src="../static/img/logolandingfiks-01.png" width="500" height="500">
              </div>
            </div>
          </div>
        </div>
      <!-- End Home -->

      <!-- BestiBot -->
      <div id = "bestibot" class="l-section intro gray-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <blockquote class="gogo-quote">
                <h2 class="text-primary">Recovery is not one and done. It is a lifelong journey that takes place one day, one step at a time.</h2>
              </blockquote>
            </div>
            <div class="col-md-7 desk" style="margin-top: 35px;">
              <h1 class="text-primary text-margin-bottom-x">BestiBot, Teman Curhatmu!</h1>
              <p>Bestibot, Teman curhatmu yang dapat membantu kamu untuk mengembalikan mood kamu seperti sedia kala. Dibuat dengan sistem kecerdasan buatan, BestiBot dapat mudah mengerti apa yang kamu ceritakan pada BestiBot.</p>
              <p>Kamu dapat mengirimkan foto dirikamu ketika sedang bersedih, senang, ataupun marah. BestiBot akan menemani kamu dalam segala mood yang sedang kamu rasakan.</p>
              <p>Selain itu, kamu juga dapat mengirimkan pesan suara kamu kepada BestiBot.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End BestiBot -->

      <!--Services-->
    <section id="services" class="ftco-section services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="titlepage" >
          <h1 class="text-primary">Fitur</h1>
          <p>Ayo cek fitur apa saja yang dimiliki Bestibot!</p> 
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title">Pengenalan Teks</h4>
              <p class="description">BestiBot dapat mengenali kata-kata yang kamu sampaikan melalui Teks, BestiBot akan menemani kamu sebagai teman teks!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-camera"></i></div>
              <h4 class="title">Pengenalan Gambar</h4>
              <p class="description">Kamu dapat mengirimkan emosi wajah kamu kepada BestiBot. BestiBot akan mengenali ekspresi kamu dan siap menemani kamu!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-microphone"></i></div>
              <h4 class="title">Pengenalan Suara</h4>
              <p class="description">Kamu dapat menggunakan suara kamu untuk berbicara dengan BestiBot jika kamu sedang tidak mood mengetik. BestiBot siap menemani kamu!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-brain"></i></div>
              <h4 class="title">Konsultasi Psikolog</h4>
              <p class="description">BestiBot akan menyarankan psikolog kepada kamu jika rasa kamu memang sedang membutuhkannya!</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services -->

      <!-- Article-->
     <section id = "artikel" class="ftco-section gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage">
              <h1 class="text-primary">Artikel</h1>
              <p>Berikut artikel yang dapat kamu baca mengenai kesehatan mental!</p> 
           </div>
          </div>
       </div>
        <div class="row d-flex">
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="https://hellosehat.com/mental/kesehatan-mental/" target="_blank" class="block-20 rounded" style="background-image: url('../static/img/apaitumental.jpg');">
              </a>
              <div class="text mt-3 px-4">
              	<div class="posted mb-3 d-flex">
              		<div class="img author" style="background-image: url(../static/img/hellosehat.jpg);"></div>
              		<div class="desc pl-3">
              			<span>Hello Sehat</span>
              			<span>28 Oktober 2022</span>
              		</div>
              	</div>
                <h3 class="text-primary"><a href="https://hellosehat.com/mental/kesehatan-mental/" target="_blank">Memahami Apa Itu Kesehatan Mental</a></h3>
                <p>Apakah Anda sudah memahami apa itu kesehatan mental?</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="https://www.halodoc.com/artikel/ini-pentingnya-menjaga-kesehatan-mental-remaja" target="_blank" class="block-20 rounded" style="background-image: url('../static/img/pentingnya_mental.jpg');">
              </a>
              <div class="text mt-3 px-4">
              	<div class="posted mb-3 d-flex">
              		<div class="img author" style="background-image: url('../static/img/halodoc.png');"></div>
              		<div class="desc pl-3">
              			<span>Halodoc</span>
              			<span>25 November 2022</span>
              		</div>
              	</div>
                <h3 class="text-primary"><a href="https://www.halodoc.com/artikel/ini-pentingnya-menjaga-kesehatan-mental-remaja" target="_blank">Pentingnya Menjaga Kesehatan Mental Remaja</a></h3>
                <p>Masa remaja dapat menjadi fase yang paling berisiko untuk mengalami masalah mental.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="https://www.guesehat.com/7-tanda-kesehatan-mental-kamu-terganggu" target="_blank" class="block-20 rounded" style="background-image: url('../static/img/7tanda.jpg');">
              </a>
              <div class="text mt-3 px-4">
              	<div class="posted mb-3 d-flex">
              		<div class="img author" style="background-image: url('../static/img/guesehat.png');"></div>
              		<div class="desc pl-3">
              			<span>GueSehat</span>
              			<span>08 Oktober 2021</span>
              		</div>
              	</div>
                <h3 class="text-primary"><a href="https://www.guesehat.com/7-tanda-kesehatan-mental-kamu-terganggu" target="_blank">7 Tanda Kesehatan Mental Kamu Terganggu</a></h3>
                <p>Yuk ketahui tanda-tanda kesehatan mentalmu mulai terganggu.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>    
     <!-- End Article-->

    <!-- Team -->
    <section id="team" class="ftco-section team">
      <div class="container">

        <div class="titlepage">
          <h1 class="text-primary">Team</h1>
          <p>Team di balik layar pembuat BestiBot</p> 
       </div>
       <div class="row">

        <div class="col-lg-3 col-md-3" style="margin-bottom: 120px;">
          <div class="member" data-aos="fade-up">
            <div class="pic"><img src="../static/img/handep2.jpg" width="500" height="500"  class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Reyhan Devara</h4>
              <span>Frontend & Backend Engineer</span>
              <div class="social">
                <a href="https://www.instagram.com/reyhand9/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/reyhandevara/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3" style="margin-bottom: 120px;">
          <div class="member" data-aos="fade-up" data-aos-delay="150">
            <div class="pic"><img src="../static/img/desty.jpeg"  class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Desty Nurul Anitsa</h4>
              <span>AI Engineer</span>
              <div class="social">
                <a href="https://www.instagram.com/imdsty/"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/desty-nurul-anitsa-b8a5a6248/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3" style="margin-bottom: 120px;">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="pic"><img src="../static/img/diva.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Diva Hana Shabira</h4>
              <span>AI Engineer</span>
              <div class="social">
                <a href="https://www.instagram.com/divashabira/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/diva-shabira-06a306201/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-3" style="margin-bottom: 120px;">
          <div class="member" data-aos="fade-up" data-aos-delay="450">
            <div class="pic"><img src="../static/img/putri.jpeg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Putri Ardianti</h4>
              <span>Researcher</span>
              <div class="social">
                <a href="https://www.instagram.com/putri.ardnt/?igshid=YmMyMTA2M2Y%3D" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/putriardianti/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-3">
          <div class="member" data-aos="fade-up" data-aos-delay="500">
            <div class="pic"><img src="../static/img/ryana.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Ryana Purwaningrum</h4>
              <span>Researcher</span>
              <div class="social">

                <a href="https://instagram.com/ryana.purwaningrum?igshid=YmMyMTA2M2Y= " target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ryana-purwaningrum-b068a01ab" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div> 

        <div class="col-lg-3 col-md-3" >
          <div class="member" data-aos="fade-up" data-aos-delay="550">
            <div class="pic"><img src="../static/img/nabila.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Nabila Rasya Putri A</h4>
              <span>Researcher</span>
              <div class="social">

                <a href="https://www.instagram.com/nabilarasya_/?igshid=NTdlMDg3MTY%3D" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div> 


      </div>
    </section><!-- End Team -->
    <br>
    <br>

    <!-- Logo -->
    <section id="clients" class="clients">
      <div class="py-5">
        <div class="container">
          <div class="swiper-wrapper align-items-center">
                <div class="col-md-3 col-sm-6 my-auto">
                  <div class="swiper-slide"><img src="../static/img/unpad.png" width="150" height="150" class="img-fluid" alt=""></div>
                </div>
                <div class="col-md-3 col-sm-6 my-auto">
                  <div class="swiper-slide"><img src="../static/img/Logo-Politeknik-Harapan-Bersama-Tegal.png" width="115" height="115" class="img-fluid" alt=""></div>
                </div>
                <div class="col-md-3 col-sm-6 my-auto">
                  <div class="swiper-slide"><img src="../static/img/kampusmerdeka.png" width="150" height="150" class="img-fluid" alt=""></div>
                </div>
                <div class="col-md-3 col-sm-6 my-auto">
                  <div class="swiper-slide"><img src="../static/img/telkompurwo.png" width="150" height="150" class="img-fluid" alt=""></div>
                </div>
                <div class="col-md-3 col-sm-6 my-auto">
                  <div class="swiper-slide"><img src="../static/img/orbitlogo.png" width="150" height="150" class="img-fluid" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    </section><!-- Akhir logo -->

    <!-- FOOTER -->
    <footer class="l-section gray-bg text-center gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-primary text-margin-bottom-x">BestiBot siap curhat sama kamu!</h1>
            <p>Bestibot, Teman curhatmu yang dapat membantu kamu untuk mengembalikan mood kamu seperti sedia kala.</p>
            <a href="/chatroom" target="_blank" class="btn btn-primary btn-lg t-margin-bt-2x">Curhat Yuk!</a>
            <ul class="social-link inline t-margin-bt-1x">
              <li><a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#" class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#" class="lin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
            <p class="small text-muted">© BestiBot 2022</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Akhir Footer -->
    

</body>
</html>
